#para{
    color:blueviolet
}
.yw{
    color: red;
}
 div>h6{
    color: blue;
 }
 div h2{
    color: aqua;
 }
 #dora{
    color: red;
 }
 .pk{
    color: rgb(224, 108, 30);
 }
 div input{
    color: aqua;
 }
 #vm{
    color: blue;
 }
 .ps{
    color: palevioletred;
 }
 .parent{
    color: blue;
 }